<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Card Component</title>
</head>
<body>
    <div class="p-card--highlighted">
        <header class="p-card__header">
            <h6 class="p-heading--5" placeholder-id="category"></h6>
        </header>
        <hr />
        <div class="p-card__content">
            <img placeholder-id="image" class="p-card__image" src="" alt="blog post image">
            <a placeholder-id="title-link" href="">
                <span placeholder-id="title" class="p-heading--3" style="font-weight: 100;" id="card-title"></span>
            </a>
            <div>
                <strong>
                    <small>
                        <cite>By <a placeholder-id="author" href=""></a> on <span placeholder-id="date"></span></cite>
                    </small>
                </strong>
            </div>
        </div>
        <footer>
            <hr class="u-sv2">
            <div class="p-text--small" placeholder-id="post-type">
            </div>
        </footer>
    </div>    
</body>
</html>

